/* @media screen and (min-width:468px){
    .productMananagementGrid {
        display: flex;
        flex-direction: row;
    }
     */
/* } */
/* .productMananagementGrid {
    display: flex;
} */

.componentGrid {
    flex-direction: column;
}