.image{
    width: 100%;
    height: 100%;
}

.tamanio{
    display: flex;
    flex-direction: column
}

.colImage{
    display: flex;
    flex-direction: row;
  
    margin-left: 50rem;
    margin-top: 10rem;
}

.colImagereverse{
    display: flex;
    flex-direction: row-reverse
}